<div class="custom-body">
    <div class="container">
        <div class="row">

            <div class="col-2"></div>
            <div class="col-4 bg-dash" style="background-image: url('../../../assets/3.jpg');">
                <div class="circle" (click)="addDHU()">
                    <i class="fas fa-pen"></i><br />
                    <span>Enter DHU</span>
                </div>
            </div>
            <div class="col-4 bg-dash" style="background-image: url('../../../assets/4.jpg');">
                <div class="circle" (click)="viewData()">
                    <i class="fas fa-clipboard-list"></i><br />
                    <span>View Data</span>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-4 bg-dash" style="background-image: url('../../../assets/a1.jpg');">
                <div class="circle" (click)="plotGraph()">
                    <i class="fas fa-chart-bar"></i><br />
                    <span>Plot Graphs</span>
                </div>
            </div>
            <div class="col-4 bg-dash" style="background-image: url('../../../assets/about-bg.jpg');">
                <div class="circle" (click)="viewSolutions()">
                    <i class="fas fa-clipboard-check"></i><br />
                    <span>Get Solutions</span>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
