.custom-body{
    padding-top: 7%;
    /* background: url('../../../../assets/bckgr.jpg') center center;
    background-size: cover;
    background-attachment: fixed; */
}

.align{
    padding-top: 33px;
}

.table td, .table th {
    padding: 3px !important;
}

.text-col:hover{
    color: royalblue;
    text-decoration: underline;
}