<div class="custom-body">
    <div class="container">
        <form [formGroup]="viewForm" (ngSubmit)="fetchData(viewForm.value)">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>- View Records -</h2>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="fromDate">From Date:</label>
                        <input type="date" class="form-control" formControlName="fromDate" id="fromDate"
                            [class.is-invalid]="getFormControl('fromDate').invalid && (getFormControl('fromDate').touched || getFormControl('fromDate').dirty)" />
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="toDate">To Date:</label>
                        <input type="date" class="form-control" formControlName="toDate" id="toDate"
                            [class.is-invalid]="getFormControl('toDate').invalid && (getFormControl('toDate').touched || getFormControl('toDate').dirty)" />
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="deptId">Department:</label>
                        <select class="form-control" placeholder="Enter department" formControlName="deptId" id="deptId"
                            [class.is-invalid]="getFormControl('deptId').invalid && (getFormControl('deptId').touched || getFormControl('deptId').dirty)">
                            <option value="">Select</option>
                            <option *ngFor="let item of departments" [value]="item.value" [textContent]="item.text">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12 align">
                    <button type="submit" class="btn btn-primary mr-1">Fetch Now</button>
                    <button type="button" class="btn btn-primary" (click)="resetViewForm()">Reset</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="table-container">
                    <div class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Defect Ctegory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of defects;let i = index">
                                <td [textContent]="i + 1"></td>
                                <td [textContent]="item.text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Total Defects</th>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Audited Pieces</th>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>