<div class="custom-body">
    <div class="container">
        <form [formGroup]="viewForm" (ngSubmit)="fetchDefectData(viewForm.value)">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>- View Records -</h2>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="fromDate">From Date:</label>
                        <input type="date" class="form-control" formControlName="fromDate" id="fromDate"
                            [class.is-invalid]="getFormControl('fromDate').invalid && (getFormControl('fromDate').touched || getFormControl('fromDate').dirty)" />
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="toDate">To Date:</label>
                        <input type="date" class="form-control" formControlName="toDate" id="toDate" />
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="deptId">Department:</label>
                        <select class="form-control" placeholder="Enter department" formControlName="deptId" id="deptId"
                            [class.is-invalid]="getFormControl('deptId').invalid && (getFormControl('deptId').touched || getFormControl('deptId').dirty)">
                            <option value="">Select</option>
                            <option *ngFor="let item of departments" [value]="item.value" [textContent]="item.text">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12 align">
                    <button type="submit" class="btn btn-primary mr-1">Fetch Now</button>
                    <button type="button" class="btn btn-primary mr-1" (click)="resetViewForm()">Reset</button>
                    <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row" *ngIf="showGrid">
            <div class="col-12">
                <div class="table-responsive">
                    <div class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th style="min-width: 120px;">Defect Ctegory</th>
                                <th *ngFor="let item of dateList" [textContent]="item"></th>
                                <th>Total</th>
                                <th>Cumulative</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of defectListModelData;let i = index">
                                <td [textContent]="i + 1"></td>
                                <td [textContent]="item.defect.text"></td>
                                <td *ngFor="let d of item.amounts;let j = index">
                                    <span class="text-col cursor-pointer" *ngIf="!d.editMode" (click)="makeEditMode(d, j)">{{d.qty}}</span>
                                    <ng-container *ngIf="d.editMode && userType === 1">
                                        <div class="input-group">
                                            <input type="number" class="form-control input-sm" placeholder="Amount"
                                                [(ngModel)]="d.qty" name="amount" style="width: 70px;">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-sm" type="button" (click)="editDefectData(item, d, j)">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-primary btn-sm" type="button"
                                                    (click)="d.editMode = false">
                                                    <i class="far fa-times-circle"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" type="button" *ngIf="d.qty !== 0" (click)="deleteDefectData(d)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </td>
                                <td>{{totalByDefectList[i]}}</td>
                                <td>{{cumulativeList[i]}}</td>
                                <td>{{getPercentage(cumulativeList[i])}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Total Defects</th>
                                <td *ngFor="let item of totalDefects">{{item}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <th>Audited Pieces</th>
                                <td *ngFor="let item of auditedPieces">
                                    <span class="text-col cursor-pointer" *ngIf="!item.editMode" (click)="makeEditDHU(item)">{{item.amount}}</span>
                                    <ng-container *ngIf="item.editMode && userType === 1">
                                        <div class="input-group">
                                            <input type="number" class="form-control input-sm" placeholder="Amount"
                                                [(ngModel)]="item.amount" name="amount" style="width: 80px;">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-sm" type="button" (click)="editDHU(item)">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-primary btn-sm" type="button"
                                                    (click)="item.editMode = false">
                                                    <i class="far fa-times-circle"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" type="button" *ngIf="item.amount !== 0" (click)="deleteDHU(item)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-12">
                <h4 class="text-center mt-2">
                    Total DHU: {{getDHUPercentage() + '%'}}
                </h4>
                <br />
            </div>
        </div>
    </div>
</div>