.hero {
    background: url('../../../assets/well.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    border-radius: 10px;
    background-position: 0px -80px;
}
.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 400px;
    width: 100%;
    border: 1px solid #FF5E14;
    border-radius: 10px;
}
.hero-brand-text{
    color: white;
    animation: changeColor 3s infinite;
}
@keyframes changeColor {
    50% {color: #FF5E14;}
}
.hero-content-wrapper{
    position: relative;
    height: 400px;
    width: 100%;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.scroll-down{
    font-size: 1.5em;
    cursor: pointer;
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: -10px;
    }
    50% {
      bottom: 0px;
    }
}
.stats-row{
    margin: 20px 0px;
}
.stats{
    transition: transform .2s;
    cursor: pointer;
}
.stats:hover{
    box-shadow: 5px 8px 10px #888888;
    transform: scale(1.01);
}
.content{
    padding: 20px 30px;
}
.right-content{
    background: #FF5E14;
    color: white;
    border-radius: 10px;
}
.botom-bg{
    background: url('../../../assets/slider3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bottom-bg-content{
    color: white;
    background: rgba(0, 0, 0, 0.65);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.botom-right-content{
    padding-top: 100px;
}
.img-logo{
    margin-bottom: 60px;
    padding: 10px;
    transition: transform .2s;
}

.img-logo:hover{
    border: 1px solid #FF5E14;
    border-radius: 5px;
    transform: scale(1.1);
    box-shadow: 5px 8px 10px #888888;
}
.card{
    border: 1px solid #FF5E14;
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.05);
}
hr{
    background-color: #FF5E14;
}