<div class="custom-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 hero">
                <div class="hero-content">
                    <div class="hero-content-wrapper">
                        <div class="hero-text">
                            <h3>Welcome to </h3>
                            <h2>
                                <span class="hero-brand-text">DSolve</span>
                            </h2>
                            <br />
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                            <br />
                            <br />
                            <a class="btn btn-primary know-more" href="/about-us">Know more about us &rarr;</a>
                            <!-- <span class="scroll-down" (click)="scrollDown()">
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">

        <div class="row stats-row text-center">
            <div class="col-md-3 col-12 stats">
                <h3><span class="text-orange">14+</span> <br /> Years Experience</h3>
            </div>
            <div class="col-md-3 col-12 stats">
                <h3> <span class="text-orange">68+</span> <br /> Projects per Year</h3>
            </div>
            <div class="col-md-3 col-12 stats">
                <h3> <span class="text-orange">23+</span> <br /> Products per Month</h3>
            </div>
            <div class="col-md-3 col-12 stats">
                <h3> <span class="text-orange">100+</span> <br /> Happy Customers</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12" id="scroll">
                <hr />
                <br />
            </div>
            <div class="col-md-6 col-12">
                <div class="content">
                    <h3>Defect Recording & Solution System</h3>
                    <p style="text-align: justify;">
                        A platform that provides the reliability, control and visibility necessary to manage your
                        production environment.
                        DSolve provides an extensive set of features: Defect recording, graph plotting & automatic
                        solutions.
                    </p>
                    <ul style="text-align: justify;">
                        <li>
                            <strong>Defect recording:</strong>
                            Record and manage defects when quality is missioncritical.
                        </li>
                        <li>
                            <strong>Graph plotting:</strong>
                            : It will plot graphs based on the data entered in the DHU database.
                        </li>
                        <li>
                            <strong>Solutions:</strong>
                            Intuitive solutions will be offered to the top 5 defects found in the graph which will help
                            quality managers to resolve quality problems as soon as possible.
                        </li>
                    </ul>
                    <a class="text-orange cursor-pointer" href="/about-us">Read-more &rarr;</a>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="content right-content shadow">
                    <h3 class="text-center">Get a solution for all your needs.</h3>
                    <span>Production</span>
                    <br />
                    <progressbar max="100" [value]="80" type="primary"><i>80%</i>
                    </progressbar>
                    <br />
                    <span>Customer Satisfaction</span>
                    <br />
                    <progressbar max="100" [value]="90" type="primary"><i>90%</i>
                    </progressbar>
                    <br />
                    <span>Utilization Rate</span>
                    <br />
                    <progressbar max="100" [value]="60" type="primary"><i>60%</i>
                    </progressbar>
                    <br />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <br />
                <h2>Our Experts In</h2>
                <h2 class="text-orange">Different Solutions</h2>
                <br />
            </div>
            <div class="col-sm-3 co-12">
                <div class="card shadow">
                    <img class="card-img-top" src="../../../assets/p1.jpg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Jason Smith</h4>
                        <p class="card-text text-orange">Founder / Ceo</p>
                        <p>
                            <i class="text-primary cursor-pointer mr-3 fab fa-facebook"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-instagram"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-twitter"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-linkedin"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 co-12">
                <div class="card shadow">
                    <img class="card-img-top" src="../../../assets/p2.jpg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Linda Johns</h4>
                        <p class="card-text text-orange">Money Management</p>
                        <p>
                            <i class="text-primary cursor-pointer mr-3 fab fa-facebook"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-instagram"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-twitter"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-linkedin"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 co-12">
                <div class="card shadow">
                    <img class="card-img-top" src="../../../assets/p3.jpg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Herb Dorothy</h4>
                        <p class="card-text text-orange">Production Head</p>
                        <p>
                            <i class="text-primary cursor-pointer mr-3 fab fa-facebook"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-instagram"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-twitter"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-linkedin"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 co-12">
                <div class="card shadow">
                    <img class="card-img-top" src="../../../assets/p4.jpg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Kyle Laine</h4>
                        <p class="card-text text-orange">Quality In charge</p>
                        <p>
                            <i class="text-primary cursor-pointer mr-3 fab fa-facebook"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-instagram"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-twitter"></i>
                            <i class="text-primary cursor-pointer mr-3 fab fa-linkedin"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <br />
                <br />
                <h2>
                    Our Clients
                    <span class="text-orange">Around The World</span>
                </h2>
                <br />
            </div>
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <span>
                    Donec euismod arcu vel neque volutpat, sed ullamcorper tortor blandit. Suspendisse potenti. Nunc at
                    lacus neque. Curabitur euismod risus ut lorem eleifend rhoncus.
                </span>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="logos mt-5 mb-5 text-center">
            <div class="row">
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l1.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l2.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l3.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l4.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l5.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l6.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l7.png" />
                </div>
                <div class="col-3">
                    <img class="img-logo" src="../../../assets/l8.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="botom-bg">
        <div class="bottom-bg-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="content">
                            <h2 class="text-center"><span class="text-orange">D</span>Solve</h2>
                            <p class="text-center">
                                <i class="text-orange cursor-pointer mr-3 fab fa-facebook"></i>
                                <i class="text-orange cursor-pointer mr-3 fab fa-instagram"></i>
                                <i class="text-orange cursor-pointer mr-3 fab fa-youtube"></i>
                                <i class="text-orange cursor-pointer mr-3 fab fa-twitter"></i>
                                <i class="text-orange cursor-pointer mr-3 fab fa-linkedin"></i>
                            </p>
                            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Etiam ultri cies nisi
                                vel
                                augue.
                            </p>
                            <div class="row">
                                <div class="col-1"><i class="text-orange mt-2 ml-2 fas fa-building"></i></div>
                                <div class="col-10">
                                    Manufactory, 2nd Cross Street, Newyork, USA 10205.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="text-orange mt-2 ml-2 fas fa-phone-square-alt"></i>
                                </div>
                                <div class="col-10">
                                    + 00-123-456-7890
                                    <br />
                                    + 00-123-456-7891
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="text-orange mt-2 ml-2 fas fa-envelope"></i>
                                </div>
                                <div class="col-10">
                                    info@example1.com
                                    <br />
                                    info2@example.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="content botom-right-content">
                            <h2>Subscribe for NewsLetter</h2>
                            <p>Sign up to get latest updates and news.</p>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Enter your Email"
                                    aria-label="Enter your Email" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        Get News &nbsp;
                                        <i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>