.custom-body{
    padding-top: 10%;
    background: linear-gradient(-45deg, rgb(146, 255, 255), white, white, white, rgb(146, 255, 255));
}
.img-account{
    background-image: url('../../../../assets/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    border: 1px solid #FF5E14;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}
.content{
    border: 1px solid #FF5E14;
    border-radius: 0px 10px 10px 0px;
}