<div class="custom-body">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-12"></div>
            <div class="col-md-5 col-12 img-account">
            </div>
            <div class="col-md-5 col-12 p-4 content">
                <h2 class="text-center text-light">- Login -</h2>
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <div class="form-group">
                        <label for="email" style="color: white;">Email address:</label>
                        <input type="email" class="form-control" placeholder="Enter email" formControlName="email" id="email"
                        [class.is-invalid]="getFormControl('email').invalid && (getFormControl('email').touched || getFormControl('email').dirty)" />
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: white;">Password:</label>
                        <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
                            id="password" placeholder="Enter your password"
                            [class.is-invalid]="getFormControl('password').invalid && (getFormControl('password').touched || getFormControl('password').dirty)" />
                    </div>
                    <div>
                        <a style="color: white;" href="/register">Don't have an account? Register Here</a>
                        <button type="submit" class="btn btn-light float-right border border-primary">Login &rarr;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-1 col-12"></div>
        </div>
    </div>
</div>