<div class="custom-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">- Who are we -</h3>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="content">
                    <h3>Defect Recording & Solution System</h3>
                    <p class="text-justify">
                        A platform that provides the reliability, control and visibility necessary to manage your
                        production environment.
                        DSolve provides an extensive set of features: Defect recording, graph plotting & automatic
                        solutions.
                    </p>
                    <ul class="text-justify">
                        <li>
                            <strong>Defect recording:</strong>
                            Record and manage defects when quality is missioncritical.
                        </li>
                        <li>
                            <strong>Graph plotting:</strong>
                            : It will plot graphs based on the data entered in the DHU database.
                        </li>
                        <li>
                            <strong>Solutions:</strong>
                            Intuitive solutions will be offered to the top 5 defects found in the graph which will help
                            quality managers to resolve quality problems as soon as possible.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="content right-content x shadow">

                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="content right-content y shadow">

                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="content">
                    <h3 class="text-center">Features</h3>
                    <ul class="text-justify">
                        <li>
                            Easy user interface to enter data
                        </li>
                        <li>
                            Maintain a database of all defects occurring on the production floor on a daily basi
                        </li>
                        <li>
                            Create pareto charts automatically based on the defects to show the top 5 defects
                        </li>
                        <li>
                            Provide intuitive solutions to resolve defects
                        </li>
                        <li>
                            Simplify audits
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>